name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: .env file
        run: |
          touch .env
          echo "${{ secrets.ENV_FILE }}" > .env         
      - name: run unit tests
        run: |
          npm install
          npm run lint
          npm run test:backend
          npm run test:frontend -- a
      - name: build frontend
        run: npm run build:frontend
      - name: run e2e tests
        uses: cypress-io/github-action@v5
        with:
          command: npm run cypress:e2e
          start: npm run start:backend:test
          wait-on: http://localhost:3003
